.pdf{
    display: flex;
    width: 80vw;
    position: fixed;
    margin-top: 25vh;
    z-index: 9999;

    button{
        height: 12vh;
        width: 6rem;
        background-color: #00BFFF;
        border-radius: 5vh;
        font-weight: 700;
        font-size: 3vh;
        cursor: pointer;
        box-shadow: 0 0 40px #00BFFF;
        padding: 2vh;
        position: absolute;
        right: 0.1rem;

        img{
            height: 65%;
            width: 50%;
        }
    }

    button:hover{
        background-color: #1E90FF;
        transition-duration: 0.3s;
    }
}