.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--slateGray);

    .apresentation {
        display: flex;
        width: 70vw;
        height: 60vh;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            .title {
                font-size: 47px;
                font-weight: 700;
            }

            .headline {
                margin-top: 5vh;
                font-size: 20px;
                font-weight: 300;
                text-align: justify;
                line-height: 3vh;

                button {
                    margin-top: 5vh;
                    background-color: var(--slateGray);
                    border-bottom: 0.3vh solid black;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        .photo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 50%;

            .myPhoto {
                border-radius: 2vh;
                align-self: flex-end;
            }

            .socialIcons {
                position: absolute;
                display: flex;
                top: 1vh;
                margin-right: 20vw;


                .iconLinkG,
                .iconLinkL {
                    text-decoration: none;
                    color: inherit;
                    margin-right: 1vw;

                    .icon {
                        height: 3vh;
                    }
                }
            }
        }
    }

    .specialties {
        display: flex;
        width: 80vw;
        height: 40vh;
        margin-top: 5vh;
        border-top: solid 0.1vh;

        .sectionSpecialties {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 3rem;

            .specialtie {
                display: flex;
                flex-direction: column;
                width: 25vw;
                align-items: center;
                font-weight: 700;

                p {
                    margin-top: 1vh;
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }
        }
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        margin-top: 5vh; 
        justify-content: center;

        .titleContact{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3vh;
            width: 80vw;
            
            .titleProjects{
                font-size: 4rem;
                font-weight: 700;
            }

            .btn{
                background-color: var(--slateGray);
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
            }
        }

        .sectionProjects {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .project {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40vw;

                .nameProjects{
                    margin-top: 2vh;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                .technologies{
                    margin-top: 1vh;
                    font-size: 1rem;
                    word-spacing: 1rem;
                }

                a,
                img {
                    width: 100%;
                    height: 70vh;
                    border-radius: 1rem;
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 50vh;
        margin-top: 5vh;
        background-color: var(--lightSteelBlue);

        .sectionContact {
            display: flex;
            flex-direction: column;
            width: 30vw;
            height: 30vh;
            margin: 5vh 0vh 0vh 0vw;
            font-size: 70px;
            font-weight: 700;

            p {
                margin-top: 2vh;
                font-size: 20px;
                font-weight: 200;
                text-align: justify;
                line-height: 3vh;
            }
        }

        .sectionForm {
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 30vh;

            .form {
                margin: 0vh 0vw 0vh auto;
                display: flex;
                flex-direction: column;

                textarea {
                    width: 30vw;
                    background-color: var(--lightSteelBlue);
                    border-bottom: solid 0.1vh;
                    margin-top: 2vh;
                    padding: 1vh;
                    outline: 0;
                    font-size: 15px;
                    word-wrap: break-all;
                }

                .msg {
                    background-color: var(--lightSteelBlue);
                    border-bottom: solid 0.1vh;
                    height: 10vh;
                    outline: 0;
                    padding: 1vh;
                    margin-top: 2vh;
                    font-size: 15px;
                    resize: vertical;
                }

                .submitBtn {
                    align-self: flex-end;
                    margin-top: 2vh;
                    background-color: var(--lightSteelBlue);
                    cursor: pointer;
                    border-bottom: solid;
                    border-radius: 10px;
                    padding: 1vh;
                    font-weight: 700;
                }
            }
        }

        .socialMedia {
            display: flex;
            justify-content: end;
            width: 80vw;
            height: 10vh;
            border-top: solid 0.1vh;

            span {
                margin-top: 2vh;

                img {
                    margin-left: 1.5vw;
                    height: 3.5vh;
                }
            }
        }
    }
}