.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey11);
    color: var(--GhostWhite);

    .apresentation {
        display: flex;
        width: 70vw;
        height: 70vh;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            .title {
                font-size: 3.5rem;
                font-weight: 700;
            }

            .headline {
                margin-top: 5vh;
                font-size: 20px;
                font-weight: 300;
                text-align: justify;
                line-height: 3vh;
            }

            .socialIcons {
                display: flex;
                margin-top: 3vh;

                .iconLink {
                    text-decoration: none;
                    color: inherit;
                    margin-right: 1vw;

                    .icon {
                        height: 4vh;
                        transition: transform .3s;
                    }

                    .icon:hover {
                        transform: scale(1.3);
                    }
                }
            }

            button {
                margin-top: 5vh;
                background-color: var(--grey11);
                border-bottom: 0.5vh solid #00FF00;
                width: 8vw;
                border-radius: 1vh;
                padding: 1vh;
                font-size: 15px;
                font-weight: 700;
                cursor: pointer;
                color: var(--GhostWhite);
                transition: transform .3s;
            }

            button:hover {
                transform: scale(1.1);
            }
        }

        .photo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .myPhoto {
                border: 1px solid #ddd;
                border-radius: 35vh;
                padding: 1rem;
                max-width: 100%;
                height: auto;
                margin-top: 3vh;
                margin-left: 3vw;
                filter: drop-shadow(10px 10px 10px var(--GhostWhite));
            }
        }
    }

    .specialties {
        display: flex;
        width: 80vw;
        height: 40vh;
        margin-top: 5vh;
        border-top: solid 0.1vh;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 0.5s;

        .sectionSpecialties {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 3rem;

            .specialtie {
                display: flex;
                flex-direction: column;
                width: 25vw;
                align-items: center;
                font-weight: 700;

                p {
                    margin-top: 1vh;
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }
        }
    }

    .specialties.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        margin-top: 5vh;
        justify-content: center;

        .titleContact {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3vh;
            width: 80vw;

            .titleProjects {
                font-size: 4rem;
                font-weight: 700;
            }

            .btn {
                background-color: var(--grey11);
                color: var(--GhostWhite);
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
                border-bottom: 0.5vh solid #00FF00;
                border-radius: 1vh;
                margin-top: 5vh;
                transition: transform .3s;
            }

            button:hover {
                transform: scale(1.1);
            }
        }

        .sectionProjects {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;


            .project {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40vw;                
                opacity: 0;
                transform: translateY(20px);
                transition: opacity 0.5s, transform 0.1s;


                .nameProjects {
                    margin-top: 2vh;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                .technologies {
                    margin-top: 1vh;
                    font-size: 1rem;
                    word-spacing: 1rem;
                }

                a,
                img {
                    width: 100%;
                    height: 70vh;
                    border-radius: 1rem;
                }
            }

            .project:hover {
                transform: scale(1.1);
            }
        }
    }

    .projects .project.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 50vh;
        margin-top: 5vh;
        background-color: var(--DimGray);
        opacity: 0;
        transform: translateY(0);
        transition: opacity 0.5s, transform 0.5s;    

        .sectionContact {
            display: flex;
            flex-direction: column;
            width: 30vw;
            height: 30vh;
            margin: 5vh 0vh 0vh 0vw;
            font-size: 70px;
            font-weight: 700;

            p {
                margin-top: 2vh;
                font-size: 20px;
                font-weight: 200;
                text-align: justify;
                line-height: 3vh;
            }
        }

        .sectionForm {
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 40vh;

            .form {
                margin: 0vh 0vw 0vh auto;
                display: flex;
                flex-direction: column;

                textarea {
                    width: 30vw;
                    background-color: var(--DimGray);
                    border-bottom: solid 0.1vh white;
                    margin-top: 1vh;
                    padding: 1vh;
                    outline: 0;
                    font-size: 1rem;
                    word-wrap: break-all;
                    color: var(--GhostWhite);
                }

                textarea::placeholder {
                    color: var(--GhostWhite);
                }
            }

            .submitBtn {
                align-self: flex-end;
                background-color: var(--DimGray);
                color: var(--GhostWhite);
                cursor: pointer;
                margin-top: 2vh;
                padding-bottom: 1vh;
                font-weight: 700;
                border-bottom: 0.5vh solid #00FF00;
                border-radius: 1vh;
                transition: tranform .3s;
            }

            .submitBtn:hover {
                transform: scale(1.1);
            }
        }

        .socialMedia {
            display: flex;
            justify-content: end;
            width: 80vw;
            height: 10vh;
            border-top: solid 0.1vh;

            span {
                margin-top: 2vh;

                img {
                    margin-left: 1.5vw;
                    height: 4vh;
                    transition: transform .3s;
                }

                img:hover {
                    transform: scale(1.3);
                }
            }
        }
    }

    .contact.visible {
        opacity: 1;
        transform: translateY(0);
        
    }
}

@media screen and (max-width: 1450px) {
    .container {
        .apresentation {
            height: 60vh;

            .text {
                width: 55vw;

                .btn {
                    width: 9vw;
                }

            }
        }

        .photo {
            padding: 2vh;

            .myPhoto {
                height: 90%;
            }

        }
    }
}

@media screen and (max-width: 1250px) {
    .container {
        .apresentation {
            .text {
                width: 60vw;

                .title {
                    font-size: 3rem;
                }

                .headline {
                    font-size: 1rem;
                }

                .btn {
                    width: 10vw;
                }
            }

        }

        .photo {
            padding: 2vh;

            .myPhoto {

                height: 80%;
                margin-top: 4vh;
            }

        }

        .specialties {
            .sectionSpecialties {
                font-size: 2.5rem;

                .specialtie {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        .projects {
            .titleContact {
                .titleProjects {
                    font-size: 3rem;
                }
            }
        }

        .contact {
            .sectionContact {
                font-size: 4rem;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .container {
        .apresentation {
            .text {
                width: 60vw;

                .title {
                    font-size: 3rem; ///
                }

                .headline {
                    font-size: 1rem;
                }

                .btn {
                    width: 12vw;
                }
            }

        }

        .photo {
            padding: 4vh;

            .myPhoto {
                height: 70%;
                margin-top: 4vh;
            }

        }

        .specialties {
            .sectionSpecialties {
                font-size: 2rem;

                .specialtie {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        .projects {
            width: 90vw;

            .titleContact {
                .titleProjects {
                    font-size: 2.5rem;
                }
            }

            .sectionProjects {

                .project {
                    max-width: 40vw;

                    a {
                        img {
                            height: 50vh;
                        }
                    }

                    .nameProjects {
                        margin-top: -20vh;
                    }
                }
            }
        }

        .contact {
            .sectionContact {
                font-size: 3.5rem;

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .container {
        .apresentation {
            width: 80vw;

            .text {

                .title {
                    font-size: 3rem; ///
                }

                .btn {
                    width: 15vw;
                }


            }

        }

        .photo {
            .myPhoto {
                height: 50%;

            }

        }

        .projects {
            width: 90vw;

            .titleContact {
                .titleProjects {
                    font-size: 2.5rem;
                }
            }

            .sectionProjects {

                .project {
                    a {
                        img {
                            height: 40vh;
                        }
                    }

                    .nameProjects {
                        margin-top: -30vh;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .container {
        .apresentation {
            width: 80vw;

            .text {

                .title {
                    font-size: 2rem; ///
                }


            }

        }

        .photo {
            .myPhoto {
                height: 50%;

            }

        }

        .projects {
            width: 90vw;

            .titleContact {
                .titleProjects {
                    font-size: 2.5rem;
                }
            }

            .sectionProjects {

                .project {
                    a {
                        img {
                            height: 40vh;
                        }
                    }

                    .nameProjects {
                        margin-top: -30vh;
                    }
                }
            }
        }
    }
}