* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --lightSlateGray: #778899;
  --slateGray: #708090;
  --lightSteelBlue: #B0C4DE;
  
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
}